@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // newProjects // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#newProjects {
  padding-top: 1em;
  padding-inline: var(--margin-global);
  position: relative;
  @include media(min, small) {
    &::before {
      content: "";
      @include absolute(0,-40px,0);
      width: 80%;
      height: 1px;
      background-color: rgba($success, .5);
    }
  }
  .container-controls {
    .v-tabs {max-width: max-content}
    .v-item-group {
      background-color: var(--primary);
      border: .8px solid rgba(#707070, .1);
      border-radius: .4vmax;
      max-width: max-content;
      .v-slide-group__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        gap: 1em;
        .v-tab {
          padding: .2em;
          border-radius: .4vmax;
          overflow: hidden;
          h6 {color: #FFFFFF; text-transform: none}
          &--active h6 {color: $clr-btn-pressed}
        }
      }
    }
  }
  .section-down {
    background-color: hsl(212 47% 12% / .5);
    padding: clamp(.5em, 2vw, 2em);
    .v-card {
      width: 24.6875em;
      @include media(max,897px) {width: 100%}
      aside {
        position: relative;
        margin-top: 3em;
        // line
        &::after {
          content: "";
          position: absolute;
          top: calc(-1em + 5px);
          left: 0;
          right: 0;
          margin-inline: auto;
          width: 15.9375em;
          @include media(max,450px) {width: 90%}
          height: 1px;
          background-color: rgba($success, .7);
        }
      }
    }
  }
}
