@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // ranking // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#ranking {
  .container-controls {
    .v-item-group {
      background-color: var(--primary);
      border: .8px solid rgba(#707070, .1);
      border-radius: .3vmax;
      max-width: 32.6875em;
      .v-slide-group__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        gap: clamp(1em, 2vw, 2em);
        .v-tab {
          padding: .2em;
          border-radius: .4vmax;
          overflow: hidden;
          h6 {color: #FFFFFF}
          &--active h6 {color: $clr-btn-pressed}
        }
      }
    }
    .v-input {
      .v-input__append-inner {border-left: 1px solid #FFFFFF}
    }
  }
  #dataTable {
    table {border-spacing: 0 1em}
    td {color: #FFFFFF}
    thead {
      th {
        button {
          min-width: max-content;
        }
      }
    }
    tbody {
      tr {
        position: relative;
        &::after {
          content: "";
          @include absolute(auto,auto,0,0);
          width: calc(82%);
          height: 1px;
          background-color: #60D2CA;
        }
        .nftDetail {
          cursor: pointer;
          transition: .2s $ease-return;
          &:hover {background-color: #21786D;box-shadow: $sombra-card}
        }
        td:nth-of-type(2) {min-width: 200px}
      }
    }
    tr:hover {background:none}
  }

  // .dataTable {
  //   border-spacing: 1em;
  //   // thead {display: table-header-group}
  //   // tbody {display: table-column-group}
  //   tr {
  //     position: relative;
  //     &::before {
  //       content: "";
  //       @include absolute(auto,auto,0,0);
  //       width: calc(85%);
  //       height: 1px;
  //       background-color: #60D2CA;
  //     }
  //   }
  // }
  #container-footer {
    @include media(max,500px) {
      p {
        span + span {margin-top: .5em}
      }
    }
  }
}
