@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // ranking // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#ranking {
  .container-controls {
    .v-item-group {
      background-color: var(--primary);
      border: .8px solid rgba(#707070, .1);
      border-radius: .3vmax;
      max-width: 32.6875em;
      .v-slide-group__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        gap: clamp(1em, 2vw, 2em);
        .v-tab {
          padding: .2em;
          border-radius: .4vmax;
          overflow: hidden;
          h6 {color: #FFFFFF}
          &--active h6 {color: $clr-btn-pressed}
        }
      }
    }
    .v-input {
      .v-input__append-inner {
        border-left: 1px solid #FFFFFF;
      }
    }
  }
  .dataTable {
  }
}
