/*-- global colors --*/
:root {
  /* default color */
  --bg-ap: #FFFFFF;
  --clr: #111011;
  --clr-inv: #FFFFFF;
  --clr-hover: hsl(288 90% 10%);
  --clr-scroll: #AD0FD5;
  --clr-bg-scroll: rgb(224, 224, 224);
  /* cards */
  --clr-card: #FFFFFF;
  --clr-card-inv: #191919;
  /* buttons */
  --clr-btn: #60D2CA;
  --clr-btn-pressed: #6AE8DF;
  --clr-btn-inactive: #6A8582;
  --clr-text-btn: #FFFFFF;
  /* badge */
  --clr-badge: #AD0FD5;
  --clr-text-badge: #FFFFFF;
}

/*-- personal clases --*/
.clr {color: var(--clr) !important}
.clr_inv {color: var(--clr-inv) !important}
.clr_btn {background-color: var(--clr-btn) !important}
.clr_btn_pressed {background-color: var(--clr-btn-pressed) !important}
.clr_btn_inactive {background-color: var(--clr-btn-inactive) !important}
.clr_text_btn {color: var(--clr-text-btn) !important}
.clr_card {background-color: var(--clr-card) !important}
.clr_card_inv {background-color: var(--clr-card-inv) !important}
.clr_svg {fill: var(--clr) !important}
.clr_svg_inv {fill: var(--clr-inv) !important}
.flr {filter: invert(0%) !important}
.flr_inv {filter: invert(100%) !important}

