@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // profile // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#profile {
  padding-top: 1em;
  padding-inline: var(--margin-global);
  & > :first-child + * + * ~ * {margin-top: clamp(1em, 2vw, 2em)}
  @include media(max,small) {font-size: clamp(10px, 1.5vw, 12px)}
  @include media(max,x-small) {font-size: clamp(8px, 1vw, 10px)}
  h2 {font-size: 2.8125em}
  .container-header {
    background-color: #58C6BA;
    width: 100vw;
    margin-inline: calc(-50vw + 50%);
    height: 18.75em;
    padding-left: var(--margin-global);
    padding-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .container-profile {
    pointer-events: none;
    * {pointer-events: all}
    transform: translateY(-110px);
    @include media(max,small) {transform: translateY(-80px)}
    @include media(max,x-small) {transform: translateY(-60px)}
    p {
      font-size: 1.8em;
      line-height: 1;
    }
    & > center {
      width: 100%;
      --margin: 3em;
      margin-bottom: var(--margin);
      position: relative;
      // line
      &::after {
        content: "";
        @include absolute(0,0,0,calc(var(--margin) * -2.5));
        width: 100%;
        height: 1px;
        background-color: rgba($success, .5);
      }
    }
  }
  .search {
    .v-input__append-inner {
      border-left: 1px solid #FFFFFF;
      padding-left: calc(1.5em / 2);
    }
  }
  .dataTable {
    font-size: 16px;
    table {border-spacing: 0 1em}
    thead {
      tr {
        th {
          color: #FFFFFF;
          font-size: 1em;
          &:first-of-type {i{display: none !important}}
        }
      }
    }
    tbody {
      tr {
        td {
          font-size: .9em;
        }
        &:hover:not(.add) {background-color: transparent}
        // &:hover.add {
        //   cursor: pointer;
        //   background-color: #21786D;
        //   transition: .2s $ease-return;
        // }
        td:nth-of-type(2) {min-width: 200px}
      }
      .v-input {
        input::placeholder {
          color: #b9b9b9 !important;
        }
      }
    }
    &.wallets {
      padding-bottom: 84px !important;
      .v-input {
        max-width: 18.125em;
        &__slot {
          i {color: $success !important}
          .v-select__selection {color: #FFFFFF !important}
        }
      }
    }
  }
  .container-wallets {
    font-size: 16px;
    @include media(min, small) {display: grid;grid-template-columns: 1fr max-content;gap: 3em}
    @include media(max, small) {& > *:first-child {margin-bottom: 3em}}
    .notes {
      --p: 1.5em;
      --bg: hsl(210, 48%, 13%, .4);
      max-width: 17.185em;
      max-height: 29.19875em;
      @include media(max, small) {max-width:20.1875em;max-height: max-content;margin-inline: auto}
      h4 {
        font-size: 1.1875em;
        position: relative;
        padding-bottom: .5em;
        margin-bottom: 1em;
        // line
        &::before {
          content: "";
          @include absolute(0,auto,0,0);
          width: 100%;
          height: 1px;
          background-color: rgba($success, .5);
        }
      }
      p {
        font-size: 1.125em;
        line-height: 1;
      }
    }
  }
  .add {
    --margin: clamp(2em,4vw,4em);
    @include absolute(calc(var(--margin) / 2),auto,auto,33px);
    width: calc(100% - var(--margin));
    height: 48px;
    display: flex;
    align-items: center;
    padding-inline: 2em;
    gap: 2em;
    &:hover {
      cursor: pointer;
      background-color: #21786D;
      transition: .2s $ease-return;
    }
  }
}

.modalEdit {
  --margin: 2em;
  h4 {font-size: clamp(2em, 4.5vw, 4.5em)}
  section.up {
    margin-bottom: 2em;
    height: 170px;
    background-color: #58C6BA;
    padding-inline: var(--margin);
    padding-block: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    .v-avatar {
      @include absolute(0,auto,0,-50px);
    }
  }
  section.down {
    // --gtc: repeat(auto-fit, minmax(min(100%, 22.76125em), 1fr));
    gap: 0 clamp(1em, 2vw, 2em);
    padding: var(--margin);
    label {font-size: 1.2em;color: #041C4C;margin-bottom:1em}
    .bio {
      --fb: 1 1 100%;
      .v-input__slot {
        height: 8.41125em;
        overscroll-behavior: contain;
        #bio {
          height: 8.41125em;
          padding: 1em;
          padding-top: .5em;
        }
      }
    }
    &>*:last-child {--fb: 1 1 100%}
    .v-btn {
      span {font-size: 1.25em}
    }
    .v-input {
      --bs: 0 2px 4px 1px var(--success);
    }
  }
}

.menuWallets {
  .v-list {
    background-color: #21786D !important;
    display: flex;
    flex-direction: column;
    &::before {
      content: "My Projects";
      text-align: center;
      font-size: 1.1em;
      color: #60D2CA;
      border-bottom: 1px solid var(--clr-line);
      margin-block: .5em;
      margin-inline: 1em;
    }
  }
}
