@forward "base";
@forward "variables";
@forward "mixins";
@forward "default-settings";
@forward "personal-classes";
@forward "responsive";
@use "variables" as *;
@use "mixins" as *;


///////////////////// global ///////////////////////

//- data tables -//
.v-data-table__wrapper {
  &::-webkit-scrollbar {display: none}
}

//- delete controls to slide -//
.v-slide-group__prev {display: none !important}
.v-slide-group__next {display: none !important}

//- progress circle -//
.v-progress-circular {
  overflow: hidden;
  isolation: isolate;
  border-radius: 50%;
  &__underlay {stroke: rgba(#7388A9, .35)}
}

//- switch -//
.switch {
  cursor: pointer;
  background-color: var(--color);
  width: 5.3125em;
  height: 1.1875em;
  border-radius: 2vmax;
  position: relative;
  transition: .5s $ease-return;
  &:after {
    content: "";
    @include absolute(2px,0,auto,0);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFFFFF;
    @include animation(.5s $ease-return) {
      from {transform: translateX(60px)}
      to {transform: translateX(0)}
    }
  }
  &.active:after {
    @include absolute(auto,0,2px,0);
    @include animation(.5s $ease-return) {
      from {transform: translateX(-60px)}
      to {transform: translateX(0)}
    }
  }
}

//- close -//
.close {
  --top: 5px;
  --right: 5px;
  position: absolute;
  top: var(--top);
  right: var(--right);
}

//- desplegable menu -//
.menu_list:is(.v-list, .v-card) {
  background-color: hsl(212 47% 12% / .7) !important;
  border: 1px solid $success;
  border-radius: $border-btn;
  position: relative;
  margin-top: 4px;
  &::before {
    content: "";
    --size: 5px;
    @include absolute(auto,-6px,6px);
    border: var(--size) solid transparent;
    border-top: 0;
    border-bottom: calc(var(--size) * 1) solid $success;
  }
  &::after {
    content: "";
    --size: 4px;
    @include absolute(auto,-4px,7px);
    border: var(--size) solid transparent;
    border-top: 0;
    border-bottom: calc(var(--size) * 1) solid hsl(212 47% 12% / .7);
  }
  .v-list-item {
    &.active {background-color: #112131 !important}
  }
}
