@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // charts // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /

.charts {
  gap: clamp(3em, 4vw, 4em);
  // decoration tags
  .tags {
    --width: 3em;
    width: calc(100% - var(--width)) !important;
    margin-left: auto;
    position: relative;
    &::before {
      content: var(--tag);
      @include absolute(calc(var(--width) * -1.25),0,auto,0);
      font-size: 1.1em;
      font-weight: bold;
      height: max-content;
      width: max-content;
      color: #B3B3B3;
      transform: rotate(-90deg);
    }
    &#twitter::before {@include absolute(calc(var(--width) * -1.8),0,auto,0)}
    &#sales::before {@include absolute(calc(var(--width) * -.8),0,auto,0)}
  }
  .tags2 {
    --width: 3em;
    width: calc(100% - (var(--width) * 2)) !important;
    margin-inline: auto;
    position: relative;
    &::before {
      content: var(--tag);
      @include absolute(calc(var(--width) * -1.85),0,auto,0);
      font-size: 1.1em;
      font-weight: bold;
      height: max-content;
      width: max-content;
      color: #B3B3B3;
      transform: rotate(-90deg);
    }
    &::after {
      content: var(--tag2);
      @include absolute(auto,0,calc(var(--width) * -1.85),0);
      font-size: 1.1em;
      font-weight: bold;
      height: max-content;
      width: max-content;
      color: #B3B3B3;
      transform: rotate(-90deg);
    }
  }
  // controls
  .toolbar {
    --margin: 60px;
    margin-left: var(--margin);
    margin-bottom: 1em;
    width: calc(100% - var(--margin));
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.not_margin {margin-left: 0 !important;width: 100% !important}
    h3 {margin-bottom: .2em !important}
    .legend {
      gap: .3em;
      .marker {
        width: 10px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background-color: var(--color);
      }
      span {font-size: 1.125em;font-weight: bold;--c: #B3B3B3}
      img {--w:1.1875em}
    }
    .values {
      h6 {font-size: 1.125em !important}
      .percent {font-size: 0.9375em !important}
    }
    .v-btn {
      background-color: transparent;
      min-width: 3.55625em;
      min-height: 2.336875em;
      padding: 0;
      &.active {
        background-color: hsl(176, 56%, 60%, .46) !important;
      }
    }
  }
  // labels
  tspan {fill: #ffffff}
  // legend
  .apexcharts-legend-text {color: #ffffff !important}
  // tooltip
  .apexcharts-tooltip {
    background-color: transparent !important;
    box-shadow: none !important;
    // border-radius: 3vmax !important;
    border: none !important;
    &-series-group {
      border-radius: 3vmax !important;
      span {
        font-size: 1.2em !important;
        font-weight: bold !important;
      }
    }
  }
  // tooltip bottom
  .apexcharts-xaxistooltip {
    background-color: $primary;
    &::before, &::after {border-bottom-color: $primary}
    border: none;
    &-text {color: $success}
  }

  // linechart //
  &#linechart {
    // tooltip
    .apexcharts-tooltip {
      // bajo revision par aquitar o dejar
      &-text {height: 32px !important}
      // bajo revision par aquitar o dejar
      &-series-group {
        // bajo revision par aquitar o dejar
        span {margin-right: 8px}
        // bajo revision par aquitar o dejar
        & + .apexcharts-tooltip-series-group {margin-top: .5em}
        &:first-of-type {
          background-color: hsl(32, 73%, 49%, .46);
          span {color: #D88321}
        }
        &:last-of-type {
          background-color: hsl(176, 56%, 60%, .46);
          span {color: #60D2CA}
        }
      }
    }
    
    // discord chart //
    &.discord {
      .apexcharts-tooltip {
        &-series-group {
          &:first-of-type {
            background-color: hsl(264, 70%, 48%, .46) !important;
            span {color: #6A25D2 !important}
          }
          &:last-of-type {
            background-color: hsl(32, 73%, 49%, .46) !important;
            span {color: #D88321 !important}
          }
        }
      }
    }
  }

  // piechart //
  &#piechart {
    path {stroke: transparent}
  }

  // barchart //
  &#barchart {
    // tooltip
    .tags {--text-color: #70ffea}
    .apexcharts-tooltip {
      background-color: hsl(171, 100%, 72%, .46) !important;
      box-shadow: none !important;
      border-radius: 3vmax !important;
      border: none !important;
      span {color: var(--text-color)}
    }
  }
}
