@use "variables" as *;
@use "mixins" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // limit size // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.parent {
  max-width: var(--parent);
  width: 100%;
  margin-inline: auto;
}
.subparent {
  max-width: var(--subparent);
  width: 100%;
  margin-inline: auto;
}
.margin_global {
  padding-inline: var(--margin-global);
  @include media(max, small) {padding-inline: clamp(1em, 5vw, 4em) !important}
}
.margin_globalmobile {
  @include media(max, small) {padding-inline: clamp(1em, 5vw, 4em) !important}
}




// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // scrollbar // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
@include reducedMotion {
  ::-webkit-scrollbar {
    width: 10px;
    background: $primary;
    // &:hover {background: var(--clr-bg-scroll)}
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--clr-scroll);
  }
}


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // defautl color // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
:is(span, p, a, h1, h2, h3, h4, h5, h6, .v-list-item__title, button, label, ul, img, button i, div i,.v-input input,div,th,td):not(.not_clr, .not) {
  color: var(--c);
  -webkit-text-stroke: var(--stroke) var(--c);
  -moz-text-stroke: var(--stroke) var(--c);
  -ms-text-stroke: var(--stroke) var(--c);
  -o-text-stroke: var(--stroke) var(--c);
}
* {caret-color: var(--primary)}
::selection {
  background-color: $clr-btn-inactive;
  color: $clr-btn-pressed;
}
.v-input__slot::before {background: var(--c)}
.v-input:hover {
  .v-input__slot::before {border-color: var(--clr-inv);opacity: .4}
}
/* // // elements-active // // */ 
:is(.primary--text, button[type].primary--text) {
  color: var(--active) !important;
  & :is(span, i) {color: var(--active) !important}
  & .v-input__slot::after {
    background: var(--active) !important;
    border-color: var(--active) !important;
  }
}

/* // // ripple clases // // */ 
.activeRipple {
  span {
    color: var(--primary);
    // background-color: $clr-btn
  }
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // typography // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
img:not(.not_typography, .not) {font-family: var(--font2)}
a:not(.not_typography, .not) {text-decoration: none}
button:not(.not_typography, .not) {&::first-letter, & ::first-letter {text-transform: uppercase}}
:is(p, a, span, h1, h2, h3, h4, h5, h6):not(.not_typography, .not) {line-height: 1}
h1:not(.not_typography, .not) {
  font-weight: 400;
  font-size: clamp(6em, 9vw, 9em);
}
h2:not(.not_typography, .not) {
  font-weight: 400;
  font-size: clamp(7em, 9vw, 9em);
}
h3:not(.not_typography, .not) {
  font-weight: 400;
  font-size: clamp(4em, 5vw, 6em);
}




//---------------------------------------------------------------------------------------------//
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // html (tags) // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
img:not(.not_html, .not) {
  --w: auto;
  --max-w: none;
  --min-w: none;
  --h: auto;
  --max-h: none;
  --min-h: none;
  --ar: ;
  --p: ;
  --b: ;
  --br: ;
  --bs: ;
  --f: ;
  --t: ;
  width: var(--w);
  max-width: var(--max-w);
  min-width: var(--min-w);
  height: var(--h);
  max-height: var(--max-h);
  min-height: var(--min-h);
  aspect-ratio: var(--ar);
  padding: var(--p);
  border: var(--b);
  border-radius: var(--br);
  box-shadow: var(--bs);
  transform: var(--t);
  filter: var(--f);
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // //  vuetify classes (components) // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /

//- defaut slider -//
.v-input {
  --br: none;
  --c-label: ;
  --h: 2px;
  .v-slider__track {
    &-container {border-radius: var(--br);height: var(--h); overflow: hidden}
  }
  .v-slider__thumb-label-container {
    * {color: var(--c-label)}
  }
}

//- defaut v-btn -//
// icon class
.v-btn--icon:not(.not_vuetify, .not) {
  --bg: ;
  --p: ;
  --br: 50%;
  background: var(--bg);
  padding: var(--p);
  border-radius: var(--br);
}

// normal class
.v-btn {
  --c: var(--clr);
  --fs: 1em;
  --lh: 1;
  --ls: normal;
  --tt: none;
  --t: ;
  --f: ;
  --ml: ;
  --mr: ;
  color: var(--c);
  transform: var(--t);
  filter: var(--f);
  & :is(span, img, i) {
    text-transform: var(--tt);
    letter-spacing: var(--ls);
    line-height: var(--lh);
    color: var(--c);
    font-size: var(--fs);
  }
  .v-btn__content {
    & :is(img, i) {margin-left: var(--ml);margin-right: var(--mr)}
  }
}

//- default input slot -//
.v-text-field--solo {
  --bg: #FFFFFF;
  --c: #000000;
  --label: #A6ADB4;
  --b: ;
  --br: .4vmax;
  --p: 0 12px;
  --w: ;
  --h: 48px;
  --bs: ;
  --fs: 1em;
  --fw: 400;
  --f: ;
  --t: ;
  width: var(--w);
  // under testing
  & .v-input__control {
    display: flex;
    justify-content: center;
  }
  // under testing
  & .v-input__slot {
    background: var(--bg) !important;
    border-radius: var(--br) !important;
    border: var(--b);
    padding: var(--p) !important;
    height: var(--h);
    min-height: var(--h);
    box-shadow: var(--bs) !important;
    transform: var(--t);
    filter: var(--f);
  }
  & :is(input[type], button[type], .v-select__selection) {
    color: var(--c);
    font-size: var(--fs);
    font-weight: var(--fw);
    -webkit-text-stroke: var(--stroke) var(--c);
    -moz-text-stroke: var(--stroke) var(--c);
    -ms-text-stroke: var(--stroke) var(--c);
    -o-text-stroke: var(--stroke) var(--c);
  }
  & label.v-label {
    color: var(--label);
    font-size: calc(var(--fs) - .15em);
    font-weight: var(--fw);
    -webkit-text-stroke: var(--stroke) var(--c);
    -moz-text-stroke: var(--stroke) var(--c);
    -ms-text-stroke: var(--stroke) var(--c);
    -o-text-stroke: var(--stroke) var(--c);
  }
}

//- defaut badge -//
.v-badge:not(.not_vuetify, .not) {
  --bg: var(--clr-badge);
  --c: var(--clr-inv);
  --b: ;
  --fs: 0.75em;
  --fw: 400;
  --size: 20px;
  --t: ;
  .v-badge__badge {
    display: grid;
    place-content: center;
    width: var(--size);
    height: var(--size);
    background: var(--bg) !important;
    color: var(--c) !important;
    border: var(--b) !important;
    border-radius: 50%;
    font-size: var(--fs);
    font-weight: var(--fw);
    transform: var(--t);
    -webkit-text-stroke: var(--stroke) var(--c);
    -moz-text-stroke: var(--stroke) var(--c);
    -ms-text-stroke: var(--stroke) var(--c);
    -o-text-stroke: var(--stroke) var(--c);
  }
}

//- menu select (desplegable menu) -//
.v-select-list {
  font-family: var(--font1) !important;background: #0D2C3F !important;
  border-radius: $border-btn !important;overflow: hidden;
  box-shadow: 3px 0 5px 1px rgb(0,0,0,.4);
  span {color: var(--clr-text-btn-2) !important;&::first-letter {text-transform: uppercase}}
  .v-list-item--active {
    background: var(--primary) !important;
    span {color: $clr-text-btn !important}
  }
}

//- dialog -//
.v-dialog {
  overscroll-behavior: contain;
  label:not(.labels) {font-weight: 700}
}
.v-dialog--scrollable {
  @include media(max, small) {margin: 0 !important; min-height: 100% !important}
  padding: 1em;
  border-radius: 20px 30px 50px 50px / 100px !important;
  // border: 2px solid $primary !important;
  background: var(--clr-card-2) !important;
  &>*,.v-card {background-color: transparent}
}
//---------------------------------------------------------------------------------------------//


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // custome classes // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
//- buttons -//
@mixin btn() {
  --bg: #60D2CA;
  --c: #FFFFFF;
  --b: ;
  --p: 1.5em 1.7em;
  --w: auto;
  --max-w: none;
  --min-w: none;
  --h: auto;
  --max-h: none;
  --min-h: none;
  --ml: ;
  --mr: ;
  --br: .4vmax;
  --bs: 0px 3px 6px 1px #6FFFE9;
  --fw: 400;
  --t: none;
  --ls: -0.005em;
  --lh: 1;
  --f: none;
  --t: ;
  background: var(--bg);
  color: var(--c);
  box-shadow: var(--bs);
  border-radius: var(--br);
  padding: var(--p);
  width: var(--w);
  max-width: var(--max-w);
  min-width: var(--min-w);
  height: var(--h);
  max-height: var(--max-h);
  min-height: var(--min-h);
  border: var(--b);
  transform: var(--t);
  filter: var(--f);
}
:is(span, a).btn {
  --fs: 1em;
  @include btn;
  font-size: var(--fs);
  font-weight: var(--fw);
  text-transform: var(--tt);
  letter-spacing: var(--ls);
  line-height: var(--lh);
}
.btn {
  --fs: 1em;
  @include btn;
  & :is(span, img, i) {
    color: var(--c);
    font-size: var(--fs);
    font-weight: var(--fw);
    text-transform: var(--tt);
    letter-spacing: var(--ls);
    line-height: var(--lh);
  }
  // margin
  & :is(img, i) {margin-left: var(--ml);margin-right: var(--mr)}
}

//- cards -//
@mixin card() {
  --w: auto;
  --max-w: none;
  --min-w: none;
  --h: auto;
  --max-h: none;
  --min-h: none;
  --bg: var(--clr-card);
  --c: #FFFFFF;
  --b: .8px solid hsl(0, 0%, 44%, .1);
  --p: 1em;
  --br: .3vmax;
  --bs: ;
  --fw: 400;
  --f: ;
  --t: ;
  width: var(--w);
  max-width: var(--max-w);
  min-width: var(--min-w);
  height: var(--h);
  max-height: var(--max-h);
  min-height: var(--min-h);
  background: var(--bg);
  color: var(--c);
  box-shadow: var(--bs);
  border-radius: var(--br);
  padding: var(--p);
  border: var(--b);
  transform: var(--t);
  filter: var(--f);
}
.card {
  @include card;
}

