@use "variables" as *;
@use "mixins" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // limit size // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
.parent {
  max-width: var(--parent);
  width: 100%;
  margin-inline: auto;
}
.subparent {
  max-width: var(--subparent);
  width: 100%;
  margin-inline: auto;
}
.margin_global {
  padding-inline: var(--margin-global);
}
.margin_globalmobile {
  @include media(max, small) {padding-inline: var(--margin-global) !important}
}




// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // scrollbar // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
@include reducedMotion {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: $primary;
    // &:hover {background: var(--clr-bg-scroll)}
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--clr-scroll);
  }
  body {
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px
    }
  }
}


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // defautl color // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
:is(span, p, a, h1, h2, h3, h4, h5, h6, .v-list-item__title, button, label, ul, img, button i, div i,.v-input input,th,td):not(.not_clr, .not) {
  color: var(--c);
  -webkit-text-stroke: var(--stroke) var(--c);
  -moz-text-stroke: var(--stroke) var(--c);
  -ms-text-stroke: var(--stroke) var(--c);
  -o-text-stroke: var(--stroke) var(--c);
}
* {caret-color: var(--primary)}
::selection {
  background-color: $clr-btn-inactive;
  color: $clr-btn-pressed;
}
.v-input__slot::before {background: var(--c)}
.v-input:hover {
  .v-input__slot::before {border-color: var(--clr-inv);opacity: .4}
}
/* // // elements-active // // */ 
:is(.primary--text, button[type].primary--text) {
  color: var(--active) !important;
  & :is(span, i) {color: var(--active) !important}
  & .v-input__slot::after {
    background: var(--active) !important;
    border-color: var(--active) !important;
  }
}

/* // // ripple clases // // */ 
.activeRipple {
  span {
    color: var(--primary);
    // background-color: $clr-btn
  }
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // typography // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
img:not(.not_typography, .not) {font-family: var(--font2)}
a:not(.not_typography, .not) {text-decoration: none}
button:not(.not_typography, .not) {&::first-letter, & ::first-letter {text-transform: uppercase}}
h1:not(.not_typography, .not) {
  font-weight: 400;
  font-size: clamp(6em, 9vw, 9em);
}
h2:not(.not_typography, .not) {
  font-weight: 400;
  font-size: clamp(7em, 9vw, 9em);
}
h3:not(.not_typography, .not) {
  font-weight: 400;
  font-size: clamp(4em, 5vw, 6em);
}
h4:not(.not_typography, .not) {
  font-weight: 400;
  font-size: clamp(4em, 4.5vw, 4.5em);
}




//---------------------------------------------------------------------------------------------//
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // html (tags) // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
img:not(.not_html, .not) {
  --w: initial;
  --max-w: none;
  --min-w: none;
  --h: initial;
  --max-h: none;
  --min-h: none;
  --ar: initial;
  --p: none;
  --b: none;
  --br: initial;
  --bs: initial;
  --f: none;
  --t: none;
  width: var(--w);
  max-width: var(--max-w);
  min-width: var(--min-w);
  height: var(--h);
  max-height: var(--max-h);
  min-height: var(--min-h);
  aspect-ratio: var(--ar);
  padding: var(--p);
  border: var(--b);
  border-radius: var(--br);
  box-shadow: var(--bs);
  transform: var(--t);
  filter: var(--f);
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // //  vuetify classes (components) // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /

//- defaut tabs -//
.v-tabs:not(.not_vuetify, .not) {
  --bg: var(--primary);
  --c: var(--clr);
  --c-active: var(--clr-btn-pressed);
  --b: .8px solid rgba(#707070, .1);
  --br: .4vmax;
  --w: max-content;
  --h: 3em;
  --p: 1em;
  --g: 1em;
  --tt: none;
  --fs: 1em;
  // tab
  --p-tab: .2em;
  --br-tab: .4vmax;
  --o: hidden;
  --t: none;
  --f: none;
  filter: var(--f);
  transform: var(--t);
  max-width: var(--w);
  .v-tabs-bar {
    background-color: var(--bg);
    border: var(--b);
    border-radius: var(--br);
    height: var(--h);
    .v-slide-group__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--p);
      gap: var(--g);
      .v-tab {
        padding: var(--p-tab);
        min-width: max-content;
        border-radius: var(--br-tab);
        overflow: var(--o);
        text-transform: var(--tt);
        color: var(--c);
        font-size: var(--fs);
        & > * {
          font-size: 1em;
          color: var(--c);
        }
        &--active {
          color: var(--c-active);
          & > * {color: var(--c-active)}
        }
      }
    }
  }
}

//- defaut slider -//
.v-input:not(.not_vuetify, .not) {
  --br: none;
  --c-label: var(--clr-inv);
  --h: 2px;
  .v-slider__track {
    &-container {border-radius: var(--br);height: var(--h); overflow: hidden}
  }
  .v-slider__thumb-label-container {
    * {color: var(--c-label) !important}
  }
}

//- defaut v-btn -//
// icon class
.v-btn--icon:not(.not_vuetify, .not) {
  --bg: initial;
  --p: initial;
  --br: 50%;
  background: var(--bg);
  padding: var(--p);
  border-radius: var(--br);
}

// normal class
.v-btn.v-size--default:not(.not_vuetify, .not) {
  --c: var(--clr);
  --fs: 1em;
  --lh: 1;
  --ls: normal;
  --tt: none;
  --t: none;
  --f: none;
  --ml: none;
  --mr: none;
  color: var(--c);
  font-size: var(--fs);
  transform: var(--t);
  filter: var(--f);
  & :is(span, img, i) {
    text-transform: var(--tt);
    letter-spacing: var(--ls);
    line-height: var(--lh);
    color: var(--c);
  }
  .v-btn__content {
    & :is(img, i) {margin-left: var(--ml);margin-right: var(--mr)}
  }
}

//- default input slot -//
.v-text-field--solo:not(.not_vuetify, .not) {
  --bg: #FFFFFF;
  --c: #000000;
  --label: #A6ADB4;
  --b: initial;
  --br: .4vmax;
  --p: 0 12px;
  --w: initial;
  --h: 48px;
  --bs: initial;
  --fs: 1em;
  --fw: 400;
  --f: none;
  --t: none;
  width: var(--w);
  // under testing
  & .v-input__control {
    display: flex;
    justify-content: center;
  }
  // under testing
  & .v-input__slot {
    background: var(--bg) !important;
    border-radius: var(--br) !important;
    border: var(--b);
    padding: var(--p) !important;
    height: var(--h);
    min-height: var(--h);
    box-shadow: var(--bs) !important;
    transform: var(--t);
    filter: var(--f);
  }
  & :is(input[type], button[type], .v-select__selection) {
    color: var(--c);
    font-size: var(--fs);
    font-weight: var(--fw);
    -webkit-text-stroke: var(--stroke) var(--c);
    -moz-text-stroke: var(--stroke) var(--c);
    -ms-text-stroke: var(--stroke) var(--c);
    -o-text-stroke: var(--stroke) var(--c);
  }
  & label.v-label {
    color: var(--label);
    font-size: calc(var(--fs) - .15em);
    font-weight: var(--fw);
    -webkit-text-stroke: var(--stroke) var(--c);
    -moz-text-stroke: var(--stroke) var(--c);
    -ms-text-stroke: var(--stroke) var(--c);
    -o-text-stroke: var(--stroke) var(--c);
  }
}

//- defaut badge -//
.v-badge:not(.not_vuetify, .not) {
  --bg: var(--clr-badge);
  --c: var(--clr-inv);
  --b: initial;
  --fs: 0.75em;
  --fw: 400;
  --size: 20px;
  --t: initial;
  .v-badge__badge {
    display: grid;
    place-content: center;
    width: var(--size);
    height: var(--size);
    background: var(--bg) !important;
    color: var(--c) !important;
    border: var(--b) !important;
    border-radius: 50%;
    font-size: var(--fs);
    font-weight: var(--fw);
    transform: var(--t);
    -webkit-text-stroke: var(--stroke) var(--c);
    -moz-text-stroke: var(--stroke) var(--c);
    -ms-text-stroke: var(--stroke) var(--c);
    -o-text-stroke: var(--stroke) var(--c);
  }
}

//- menu select (desplegable menu) -//
.v-menu__content {overscroll-behavior: contain}

.v-select-list {
  font-family: var(--font1) !important;background: #0D2C3F !important;
  border-radius: $border-btn !important;overflow: hidden;
  box-shadow: 3px 0 5px 1px rgb(0,0,0,.4);
  span {color: var(--clr-text-btn-2) !important;&::first-letter {text-transform: uppercase}}
  .v-list-item--active {
    background: var(--primary) !important;
    span {color: $clr-text-btn !important}
  }
}

//- dialog -//
.v-dialog {
  overscroll-behavior: contain;
  label:not(.labels) {font-weight: 700}
  &::-webkit-scrollbar {display: none}
  @include media(max, 500px) {margin-inline: 0}
  .v-input {
    --bs: 0 2px 4px 1px var(--success);
  }
  & > .v-card {padding: 4em var(--margin-global)}
}
.v-dialog--scrollable {
  @include media(max, small) {margin: 0 !important; min-height: 100% !important}
  padding: 1em;
  border-radius: 20px 30px 50px 50px / 100px !important;
  // border: 2px solid $primary !important;
  background: var(--clr-card-2) !important;
  &>*,.v-card {background-color: transparent}
}
//---------------------------------------------------------------------------------------------//


// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // custome classes // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
//- buttons -//
@mixin btn() {
  --bg: #60D2CA;
  --c: #FFFFFF;
  --b: initial;
  --p: 1.5em 1.7em;
  --w: max-content;
  --h: max-content;
  --br: .4vmax;
  --bs: 0px 3px 6px 1px #6FFFE9;
  --fw: 400;
  --fs: 1em;
  --f: initial;
  --t: initial;
  background: var(--bg) !important;
  color: var(--c) !important;
  box-shadow: var(--bs) !important;
  border-radius: var(--br) !important;
  padding: var(--p) !important;
  font-size: var(--fs);
  min-width: var(--w);
  min-height: var(--h);
  border: var(--b) !important;
  font-weight: var(--fw) !important;
  transform: var(--t);
  filter: var(--f);
}
.btn {
  @include btn;
  & :is(span, img, i) {
    color: var(--c) !important;
    font-size: 1em;
  }
  & :is(img, i) {margin-left: .2em}
  & :is(img, i):only-child {margin-left: 0 !important}
}

//- cards -//
@mixin card() {
  --w: initial;
  --h: initial;
  --bg: var(--clr-card);
  --c: #FFFFFF;
  --b: .8px solid hsl(0, 0%, 44%, .1);
  --p: 1em;
  --br: .3vmax;
  --bs: initial;
  --fw: 400;
  --f: initial;
  --t: initial;
  width: var(--w);
  height: var(--h);
  background: var(--bg) !important;
  color: var(--c) !important;
  box-shadow: var(--bs) !important;
  border-radius: var(--br) !important;
  padding: var(--p) !important;
  border: var(--b) !important;
  font-weight: var(--fw) !important;
  transform: var(--t);
  filter: var(--f);
}
.card {
  @include card;
}

