@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // marketplaceStats // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#marketplaceStats {
  @include media(max,small) {font-size: clamp(10px, 1.5vw, 12px)}
  @include media(max,x-small) {font-size: clamp(8px, 1vw, 10px)}
  padding-top: 1em;
  padding-inline: var(--margin-global);
  position: relative;
  @include media(min, small) {
    &::before {
      content: "";
      @include absolute(0,-40px,0);
      width: 80%;
      height: 1px;
      background-color: rgba($success, .5);
    }
  }
  h3 {font-weight: bold}
  // btn toggle
  .v-item-group.v-btn-toggle {
    background-color: hsl(210, 48%, 13%, .46);
    border-radius: .5vmax;
    max-width: max-content;
    padding: .2em;
    * {border: none !important}
    .v-btn {border-radius: .5vmax}
  }
  #card-stats {
    & > div:first-of-type {
    position: relative;
    padding-right: 1em;
    margin-right: .5em;
    // line
      &::before {
        content: "";
        @include absolute(auto,0,0,0);
        width: 1px;
        height: 80%;
        background-color: var(--clr-line);
      }
    }
  }
  #container-info {
    label {font-size: 0.9375em;color: $success}
    span:not([class*="v-btn"]) {font-size: 2.0625em}
    & > div {
      position: relative;
      padding-right: .5em;
      margin-right: .5em;
      &:not(:last-of-type):before {
        // lines
        content: "";
        @include absolute(auto,0,0,0);
        width: 1px;
        height: 80%;
        background-color: var(--clr-line);
      }
    }
  }
  .infodown {
    --fb: 1 1 20em;
    gap: 1em;
    .v-card {
      --p: 2em;
      @include media(min,small) {max-width: 24.6875em}
      .v-sheet {
        padding: 1em;
        position: relative;
        &::before {
          content: "";
          @include absolute(0,auto,0,1em);
          width: calc(100% - 2em);
          height: 1px;
          background-color: var(--clr-line);
        }
        &>* {margin-bottom: 1em}
        .infotext {font-size: 1.125em}
        .number {font-size: 2.1875em}
        .percent {font-size: 0.9375em}
      }
    }
  }
  #dataTable {
    table {border-spacing: 0 1em}
    td {color: #FFFFFF}
    tbody {
      tr {
        position: relative;
        &::after {
          content: "";
          @include absolute(auto,auto,0,0);
          width: calc(82%);
          height: 1px;
          background-color: #60D2CA;
        }
        // .nftDetail {
        //   cursor: pointer;
        //   transition: .2s $ease-return;
        //   &:hover {background-color: #21786D;box-shadow: $sombra-card}
        // }
      }
    }
    tr:hover {background:none}
  }
}
