@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // layout // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#layout {
  background: top no-repeat url(../../assets/images/bg.png);
  background-size: cover;
  overflow: hidden;
  & .with {
    padding-block: 140px 35em !important;
    @include media(max, small) {padding-bottom: 40em !important}
  }
  & .without {padding-bottom: 0em !important}
}
