@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // whitelist // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#whitelist {
  padding-top: 1em;
  padding-inline: var(--margin-global);
  position: relative;
  &::before {
    content: "";
    @include absolute(0,-40px,0);
    width: 80%;
    height: 1px;
    background-color: rgba($success, .5);
  }
  .container-controls {
    .v-tabs {max-width: max-content}
    .v-item-group {
      background-color: var(--primary);
      border: .8px solid rgba(#707070, .1);
      border-radius: .4vmax;
      max-width: max-content;
      .v-slide-group__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        gap: 1em;
        .v-tab {
          padding: .2em;
          border-radius: .4vmax;
          overflow: hidden;
          h6 {color: #FFFFFF; text-transform: none}
          &--active h6 {color: $clr-btn-pressed}
        }
      }
    }
  }
  .section-down {
    background-color: hsl(212 47% 12% / .5);
    padding: 3em;
    .v-card {
      width: 24.6875em;
      @include media(max,897px) {width: 100%}
      h6 {font-size: 1.25em}
      span:not([class*="v-btn"]) {font-size: 1.095625em}
      #type {font-size: 0.97375em;color:var(--success)}
      #desc {font-size: 0.9375em}
      #container-footer {
        margin-top: 1.5em;
        padding-top: .8em;
        position: relative;
        &::after {
          content: "";
          @include absolute(0,calc(-1em + 5px),0);
          width: 15.9375em;
          @include media(max,450px) {width: 90%}
          height: 1px;
          background-color: rgba($success, .7);
        }
      }
    }
  }
  .v-item-group.v-btn-toggle {
    background-color: var(--primary);
    border-radius: .5vmax;
    max-width: max-content;
    .v-btn {border-radius: .5vmax}
  }
}