@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // bulkNftManagement // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#bulkNftManagement {
  padding-top: 1em;
  padding-inline: var(--margin-global);
  position: relative;
  &::before {
    content: "";
    @include absolute(0,-40px,0);
    width: 80%;
    height: 1px;
    background-color: rgba($success, .5);
  }
  // btn toggle
  .v-item-group.v-btn-toggle {
    background-color: hsl(210, 48%, 13%, .46);
    border-radius: .5vmax;
    max-width: max-content;
    padding: .2em;
    * {border: none !important}
    .v-btn {border-radius: .5vmax}
  }
  .footer-controls {
    position: relative;
    & > div {
      width: 60%;
    }
  }
  .container-controls {
    // slider
    .v-tabs {max-width: max-content}
    .v-item-group {
      background-color: var(--primary);
      border: .8px solid rgba(#707070, .1);
      border-radius: .4vmax;
      max-width: 32.6875em;
      .v-slide-group__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: 1em;
        .v-tab {
          padding: .2em;
          border-radius: .4vmax;
          overflow: hidden;
          h6 {color: #FFFFFF; text-transform: none}
          &--active h6 {color: $clr-btn-pressed}
        }
      }
    }
  }
  #container-nfts {
    .v-card {
      position: relative;
      &.active::after {
        content: "";
        @include absolute(0,0);
        width: 2.08375em;
        aspect-ratio: 1 / 1;
        border-radius: .3vmax;
        background-color: #FFFFFF;
      }
      &.widthLimiter {max-width: 21.2225em}
      h6 {
        font-size: 1.25em;
        text-align: center;
        padding-bottom: 5px;
        position: relative;
        &::before {
          content: "";
          @include absolute(0,auto,0,0);
          width: 100%;
          height: 1px;
          background-color: var(--clr-line);
        }
      }
      span:not(span[class*="v-chip"]) {font-size: 1.095625em}
      #rank .v-chip__content {font-size: 0.75em}
      #rarity .v-chip__content {font-size: 0.9375em}
    }
  }
  #container-bulk {
    .v-card {
      .nfts {width: 100%}
      & > .v-sheet:first-of-type {
        &.active {
          padding-bottom: 1em;
          border-bottom: 1px solid var(--clr-line) !important;
        }
        & > :first-child {
          @include media(min, 618px) {
            margin-right: 1em;
            position: relative;
            &::after {
              content: "";
              @include absolute(auto,0,-1em,0);
              width: 1px;
              height: 8.060625em;
              background-color: var(--clr-line);
            }
          }
        }
        // & > :last-child {margin-left: 1em}
        .v-sheet {
          position: relative;
          padding-bottom: 1.2em !important;
          height: 8.060625em;
          label {font-size: 1.125em}
          .number {font-size: 2.1875em}
          &::after {
            content: "";
            @include absolute(0,auto,0,1em);
            width: calc(100% - 2em);
            height: 1px;
            background-color: var(--clr-line);
          }
        }
      }
      & > .v-sheet:last-of-type {
        margin-top: 3em;
        .v-card {
          position: relative;
          @include media(min, small) {&.widthLimiter {max-width: 20.16375em}}
          &.active::after {
            content: "";
            @include absolute(0,0);
            width: 2.08375em;
            aspect-ratio: 1 / 1;
            border-radius: .3vmax;
            background-color: #FFFFFF;
          }
          span {
            font-style: 1.25em;
            text-align: center;
            padding: 1em;
          }
          &::after {
            content: "";
            @include absolute(0,0)
          }
        }
      }
    }
  }
}

#modalNfts {
  &.list {span:not([class*="v-btn"]) {font-weight: bold}}
  h4 {font-size: clamp(2em, 4.5vw, 4.5em)}
  .v-sheet {
    gap:4em;
    padding:clamp(2em, 3vw, 3em);
    max-width: 62.170625em;
  }
  span:not([class*="v-btn"]) {--c: #041C4C;font-style: 1.3125em}
  label {font-size: 1em; color: #041C4C;font-weight: 600}
  .v-text-field__details {padding-left: 0}
  .v-btn:not(.close) {
    width: clamp(6em, 19vw, 19.25em);
    span {font-size: clamp(1.1em, 1.25vw, 1.25em)}
  }
  .v-input {
    --bs: 0 2px 4px 1px var(--success);
  }
}