@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // header // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#header {
  font-size: 16px;
  @include media(min, 2500px) {font-size: 19px}
  @include media(max, 1220px) {font-size: 14px}
  @include media(max, 1100px) {font-size: 12px}
  @include media(max, 1025px) {font-size: 11px}
  @include media(max, 991px) {font-size: 9px}
  @include media(max, small) {font-size: 16px}
  #headerApp {
    margin-inline: auto;
    transition: all 0.4s ease-in-out;
    .v-toolbar__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: var(--margin-global);
      @include media(max, 350px) {padding-left: 0 !important}
      overflow: hidden;
      .avatarBtn {
        .v-avatar {
          transform: translateX(-.6em);
          z-index: 1;
        }
      }
      .middle {
        gap: clamp(.5em, 2vw, 2em);
        @include media(max,small) {margin-inline: auto 1em}
      }
      #container-account {
        font-size: 16px;
        @include media(max, 1200px) {font-size: 14px}
      }
    }
  }



// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
// // // menu header // // // 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
  #menuHeader {
    .conttitle {
      max-width: 60%;
      margin-inline: auto;
    }
    .v-expansion-panel {
      background-color: transparent;
      .icon {width: 28px;aspect-ratio: 1 / 1;border-radius: 50%}
      span {font-weight: 700}
      &::after, &::before {display: none !important}
      .v-expansion-panel-header {
        padding-inline: clamp(1em, 1vw, 1.5em);
        .icon {
          background-color: $clr-text-btn;
          border: 3px solid $clr-text-btn;
        }
      }
      .v-expansion-panel-content__wrap {padding-inline: 0}
      .v-list {
        background-color: transparent;
        .v-list-item {
          background-color: transparent;
          padding-inline: clamp(1em, 1vw, 1.5em);
        }
      }
    }
  }
}


.morelist.menu_list {
  border-color: rgba($success, .5) !important;
  &::before {border-bottom-color: rgba($success, .5) !important}
  & .v-list {
    display: flex;
    flex-direction: column;
    gap: .15em;
    position: relative;
    &:not(.cabecera):first-of-type {padding-top: 2em}
    &.cabecera {padding-top: 1.5em}
    &:not(.cabecera)::after {
      content: "";
      @include absolute(0,auto,0,0);
      width: calc(100% - 2em);
      height: 1px;
      background-color: rgba(#60D2CA, .5);
    }
    & .v-list-item {
      min-height: max-content !important;
      & .Title {color: #60D2CA !important}
      &__title {font-size: .9375em}
    }
  }
  & > :last-child {padding-bottom: 1.5em}
  & > aside {padding-block: 1em 2em}
}

.notifications.menu_list {
  :is(h3,.v-list,a) {padding-inline: 2em}
  h3 {padding-top: 1em}
  a {padding-bottom: 1em}
  .v-list {
    .v-list-item {
      &::before {
        content: "";
        @include absolute(auto,auto,0,0);
        width: calc(100% - 3.125em);
        height: 1px;
        background-color: rgba(#60D2CA, .5);
      }
      &:hover::before {background-color: rgba(#60D2CA, .5)}
      span {max-width: 20ch}
    }
  }
}

.modalSwitchAccount {
  .v-list {
    span {color: var(--clr-inv) !important; line-height: 1.2}
    &-item {
      border-radius: 1.5vmax;
      overflow: hidden;
      &::after {display: none}
      .divcol {
        position: relative;
        &::before {
          content: "";
          @include absolute(auto,auto,0,-2px);
          width: calc(100%);
          height: 1px;
          background-color: rgba(#60D2CA, .5);
        }
      }
    }
  }
  .v-input--checkbox {
    i {color: var(--clr-inv) !important}
  }
}

.modalSettings {
  .v-sheet {
    section {
    & > *:not(:first-child) {margin-bottom: 14px}
    }
  }
  label, span {color: var(--clr-inv) !important; font-weight: 700}
}

.modalAlert {
  .v-sheet {
    section {
    & > *:not(:first-child) {margin-bottom: 14px}
    }
  }
  label, span {color: var(--clr-inv) !important; font-weight: 700}
  .v-input {--bs: 0 2px 4px 1px var(--success)}
  .v-label {color: #B3B3B3 !important}
}
.menuAlert {
  .v-list {
    display: flex;
    flex-direction: column;
    &::before {
      content: "Alert Type";
      text-align: center;
      font-size: 1.1em;
      color: #60D2CA;
      border-bottom: 1px solid var(--clr-line);
      margin-block: .5em;
      margin-inline: 1em;
    }
  }
}
.menuFrecuency {
  .v-list {
    display: flex;
    flex-direction: column;
    &::before {
      content: "Frecuency";
      text-align: center;
      font-size: 1.1em;
      color: #60D2CA;
      border-bottom: 1px solid var(--clr-line);
      margin-block: .5em;
      margin-inline: 1em;
    }
  }
}

// drawer
#toggleBar {
  .v-navigation-drawer__content {
    &::-webkit-scrollbar {width: 5px !important}
    .titles {
      position: relative;
      padding-bottom: .5em;
      &::before {
        content: "";
        @include absolute(0,auto,0,0);
        width: calc(100% - 2em);
        height: 1px;
        background-color: var(--clr-line);
      }
    }
  }
}
