@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // hero // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#hero {
  padding-top: 1em;
  h1 {
    .mask {
      position: relative;
      color: transparent;
      background: center no-repeat url(../../../assets/logos/hero-logo2.svg);
      background-size: contain;
      isolation: isolate;
    }
  }
  blockquote {
    &::-webkit-scrollbar {display: none}
    @include media(max, 1400px) {font-size: 14px}
    @include media(max, 1200px) {font-size: 12px}
    @include media(max, 1050px) {font-size: 10px}
    margin-top: 2em;
    min-height: 24.375em;
    display: inline-grid;
    align-items: flex-start;
    justify-items: center;
    position: relative;
    @include media(max, small) {
      place-items: center;
      grid-auto-flow: column;
      gap: 2em;
    }
    &::before {
      content: "";
      @include absolute(0,auto,0,-3.5em);
      width: 100%;
      height: 1px;
      background-color: #1C2541;
    }
    .wrapperCards {
      @include media(min, small) {
        position: absolute;
        top: var(--top);
        left: var(--left);
        right: var(--right);
      }
      .hero-cards {
        --border: .3vmax;
        background-color: rgba(#707070, .1);
        padding: clamp(1.5em, 2vw, 2em);
        max-width: clamp(14em, 16vw, 16.261875em);
        isolation: isolate;
        position: relative;
        border-radius: var(--border);
        clip-path: var(--clip);
        @include media(max, small) {
          max-width: none;
          width: 20em;
          aspect-ratio: 1 / 1.3;
        }
        &::after {
          content: "";
          position: absolute;
          inset: .8px;
          top: 1px;
          background-color: #122432;
          z-index: -1;
          border-radius: var(--border);
          clip-path: var(--clip);
        }
        h3 {
          font-size: 1.966875em !important;
        }
        .v-btn {
          --bg: var(--primary);
          --bs: 0px 0px 2.5px 1px #6FFFE9;
          --p: 0 0.75em;
          min-width: min(90%,7.875em);
          @include media(max, small) {margin-block: .5em !important}
          span {
            font-size: 0.8425em;
          }
        }
      }
    }
  }
}

.modalProject {
  @include media(max, x-small) {font-size: 12px}
  .labels {
    &::before {
      content: var(--tag);
      color: #FFFFFF;
      background-color: #000000;
      padding: .2em .35em;
      border-radius: .25vmax;
      margin-right: .5em;
    }
  }
  .v-input--checkbox {
    i {color: var(--clr-inv) !important}
  }
  .container-checkbox {
    margin-block: 1em;
    @include media(max, small) {flex-direction: column}
    aside {
      @include media(max, small) {
        max-width: 15.3125em;
        width: 100%;
        justify-content: space-between;
      }
      @include media(max, small) {max-width: none}
      box-shadow: 0 2px 4px 1px var(--success);
      padding-inline: 1em;
      border-radius: 1vmax;
      margin-block: .5em;
    }
  }
  .v-input {
    --bs: 0 2px 4px 1px var(--success);
  }
}
