@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // upcomingNftDrops // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#upcomingNftDrops {
  padding-top: 1em;
  padding-inline: var(--margin-global);
  position: relative;
  @include media(min, small) {
    &::before {
      content: "";
      @include absolute(0,-40px,0);
      width: 80%;
      height: 1px;
      background-color: rgba($success, .5);
    }
  }
  .container-controls {
    .v-tabs {max-width: max-content}
    .v-item-group {
      background-color: var(--primary);
      border: .8px solid rgba(#707070, .1);
      border-radius: .4vmax;
      max-width: max-content;
      .v-slide-group__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        gap: 1em;
        .v-tab {
          padding: .2em;
          border-radius: .4vmax;
          overflow: hidden;
          h6 {color: #FFFFFF; text-transform: none}
          &--active h6 {color: $clr-btn-pressed}
        }
      }
    }
  }
  .section-down {
    background-color: hsl(212 47% 12% / .5);
    padding: clamp(.5em, 2vw, 2em);
    .v-card {
      width: 24.6875em;
      @include media(max,897px) {width: 100%}
      .cronometer {
        margin-bottom: 1em;
        .grid {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: calc(-1em + 5px);
            margin-inline: auto;
            width: 15.9375em;
            @include media(max,450px) {width: 90%}
            height: 1px;
            background-color: rgba($success, .7);
          }
          &::before {
            content: "";
            --size: 1em;
            @include absolute(0,-4px,0);
            transform: translateX(calc((var(--size) * -1 / 2) - 3px));
            width: calc(100% + var(--size));
            height: 30px;
            border-radius: .2vmax;
            outline: 1px solid var(--success);
          }
          span {
            @include child(1, 4) {
              &::after {
                content: ":";
                position: relative;
                font-weight: bold;
                right: -5px;
                // transform: translateX(10px);
              }
            }
            &:nth-child(4)::after {visibility: hidden}
          }
        }
      }
    }
  }
}
