@use "@/styles/app" as *;

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
/* // // vote // // */ 
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // /
#vote {
  padding-top: 1em;
  padding-inline: var(--margin-global);
  position: relative;
  @include media(min, small) {
    &::before {
      content: "";
      @include absolute(0,-40px,0);
      width: 80%;
      height: 1px;
      background-color: rgba($success, .5);
    }
  }
  .v-item-group.v-btn-toggle {
    background-color: var(--primary);
    border-radius: .5vmax;
    max-width: max-content;
    .v-btn {border-radius: .5vmax}
  }
  .container-controls {
    .v-input {
      // @include media(min,small) {max-width:22.966875em}
      max-width:22.966875em
    }
    .tab-right {
      --o: visible;
      .v-item-group {background-color: hsl(212 47% 12% / .5) !important;border-radius: .5vmax !important}
      .v-slide-group__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: 0 1em;
        &::before {
          content: "";
          @include absoluteCenter;
          width: 1px;
          height: 15px;
          background-color: #FFFFFF;
        }
      }
      .v-tab {
        max-width: 1.125em !important;
        min-width: 1.125em !important;
      }
    }
  }
  #container-top {
    --p: clamp(1em,2vw,2em);
    --fb: 1 1 22.0625em;
    gap: 3em;
  }
  #container-bottom {
    --fb: 1 1 23.0625em;
    gap: 3em;
  }
  h4 {font-size: 1.620625em}
  .container-wrapper{
    isolation: isolate;
    position: relative;
    @include media(max, 400px) {font-size: 8px}
    --p:2em;
    .v-card {
      position: relative;
      padding-bottom: .5em;
      width: 100%;
      &::-webkit-scrollbar {display: none}
      &::after {
        content: "";
        @include absolute(auto,auto,0,0);
        // width: calc(100% - (105px + clamp(1em, 2vw, 2em)));
        width: calc(100% - (13px + clamp(.5em, 1vw, 1em)));
        // width: 100%;
        height: 1px;
        background-color: var(--clr-line);
      }
    }
    .number {font-size: 1.405625em;font-weight: bold}
    .right {
      gap: clamp(3em, 5vw, 5em);
      // margin-left: auto;
      .v-btn {
        --p: 0.5625em;
        width: max-content;
        img {--w: 1.5em}
      }
    }
  }
}

#modalDislike {
  h4 {font-size: clamp(2em, 4.5vw, 4.5em)}
  .v-sheet {
    padding:clamp(2em, 3vw, 3em);
    max-width: 62.170625em;
  }
  span:not([class*="v-btn"]) {--c: #041C4C;font-style: 1.3125em}
  label {font-size: 1.3em; color: #041C4C}
  .v-text-field__details {padding-left: 0}
  .v-btn:not(.close) {
    width: min(100%,32.3125em);
    span {font-size: clamp(1.1em, 1.25vw, 1.25em)}
  }
  .v-input {
    --bs: 0 2px 4px 1px var(--success);
    textarea {font-size: 1.1em}
    .v-input__slot {
      height: 8.41125em;
      overscroll-behavior: contain;
      #comment {
        padding: 1em;
        padding-top: .5em;
      }
    }
  }
}